* {
    box-sizing: border-box;
}

.calc-container {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    background-color: #000000;
    color: #ffffff;
}

.calc-type {
    color: inherit;
    font-size: 1rem;
    padding-left: 1%;
}

.window {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.result {
    width: 100%;
    background-color: inherit;
    font-size: 2rem;
    font-family: monospace;
    color: inherit;
    padding: 2%;
    margin: .5%;
    border: none;
}

.input{
    width: 100%;
    background-color: inherit;
    font-size: 2rem;
    font-family: monospace;
    color: inherit;
    padding: 2%;
    margin: .5%;
    border: none;
}


.button-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: .5%;
}

.button {
    width: 25%;
    padding: 4%;
    border: 1px solid #000000;
    border-radius: 5px;
    color: inherit;
    background-color: #514a4a;
}

.operator, .button:hover {
    background-color: #292824;
}

.operator:hover {
    background-color: #514a4a;
}

.operator:active {
    background-color: #292824;
}

.number:active {
    opacity: 40%;
    border-color: #514a4a;
}

.clear-button {
    width: 50%;
}

.zero-button {
    width: 75%;
}

.equal {
    background-color: #00bfff;
    color: #000000;
}

.equal:hover {
    background-color: #00bfff;
    opacity: 90%;
}

.equal:active {
    opacity: 70%;
}